body {
    margin: 0;
    overflow: auto;
    background: transparent;
}

@keyframes sprite {
    100% {
        background-position: -1536px 0;
    }
}

@keyframes move {
    0% { left: -256px; }
    100% { left: 100vw; }
}

.content {
    position: relative;
    z-index: 0;
    padding: 20px;
}

#sprite {
    position: absolute;
    top: 100px;
    left: -256px;
    width: 256px;
    height: 256px;
    background-image: url('animation.svg');
    animation: sprite 0.6s steps(6) infinite, move 12s linear forwards;
    z-index: 1;
    background-repeat: no-repeat;
}