/* css file */

body {background-color:#ffffff; color: #404040; font-size:14px; margin:8px; overflow:scroll; hyphens:auto;}

.forumheader { color: #000000; }
.forumcontent  {background-color:#f8f8f8; margin-top:30px; margin-left:auto; margin-right:auto; max-width:900px; height:auto}
.block  {margin-left:30px;margin-right:30px;}
.pp     {margin-left:10px; width:900px;}                        /* text with fixed width */
.pdf_box  {width:800px; height:1150px} /* {width:590px; height:830px} */

h1,h2,h3,h4,p,ul,ol,li,div,td,th,address,blockquote,nobr,b,i {font-family:Arial,Helvetica,sans-serif;}

h1 { width:100%; font-size:36px; background-color:#d8d8d8; }
h2 { width:100%; font-size:28px; margin-bottom:18px; }
h3 { width:100%; font-size:20px; margin-top:25px; margin-bottom:10px; }
h4 { width:100%; font-size:14px;}

.bookheader { color:#efefff; background-color:#6666aa; }
.bookcontent  {background-color:#f5f4ff; margin-top:30px; margin-left:auto; margin-right:auto; max-width:900px; height:auto}
.bookh3     { color:#2e2090 }

p {color: #404040; font-face: "Arial,Helvetica"; text-align:justify; width:100%; font-size:14px; margin-bottom:12px;}

ul,ol,li,div,td,th,address,blockquote { color: #404040; font-face: "Arial,Helvetica"} /* ; font-size:14px; */ 

table {color: #404040; font-face:"Arial,Helvetica"; } /* font-size:20px  */ 

td {color: #000000; font-face:"Arial,Helvetica"; text-align:left;} /* font-size:20px */ 

td.thirdth {font-size:14px; }

ol {list-style-type:circle; margin-bottom:12px; }

ul {list-style-type:circle;}

li {margin-left:-14px; margin-top:3px;} /*  width:900px; */

pre { font-family:Courier New,Courier; color:#000000; font-size:14px;} /*  */ 

code,kbd,tt { font-family:Courier New,Courier; color:#000000; }

var { font-style:normal; color:#000000; }

blockquote,cite { font-style:italic; }

hr { width:900px; }

a {text-decoration:none;  color:#6961fa;}
a:hover {color:#9999ff;}

ins { color:#009900; font-weight:bold; text-decoration:none; }

del { color:#990000; font-weight:bold; }

.info_box {
      background: #fee1ae;
      color: #000000;
      padding: 10px;
      border: 1px solid #888888;
      border-radius: 0px;
      font-size: 16px;
      text-align: center;
}

.info_box_white {
      background: #ffffff;
      color: #000000;
      padding: 10px;
      border: 1px solid #888888;
      border-radius: 0px;
      font-size: 16px;
      text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.largepicture {width:80%;}

/* for mobile devices */

@media screen and (max-width: 800px) {
  body             {margin-left: 6px;}
  .forumcontent    {margin: 8px;}
  .bookcontent     {margin: 8px;}
  td.thirdth       {font-size: 0.7em; line-height: 1.1em; vertical-align: top;}
  p                {font-size: 0.8em; margin: 10px 0;}
  .pdf_box         {width: 100%; height: 100%;}
  .info_box        {font-size: 0.9em;}
  .info_box_white  {font-size: 0.9em;}
  .pp              {font-size: 0.8em; width: auto; margin-left: 0; margin-bottom: 12px;}
  .noresize        {font-size: 1em;}
  .logoresize      {width: 80px;}
  .imageresize     {width: 160px;}
  /* td {font-size: 0.8em;} caused problems on book website */
  li               {font-size: 0.8em;}
  h1               {font-size: 1.1em; margin-bottom: 6px;}
  h2               {font-size: 1.1em; margin-bottom: 10px;}
  h3               {font-size: 1.0em; margin-bottom: 6px; margin-top: 12px;}
  h4               {font-size: 0.8em;}
  ol               {margin-bottom: 10px;}
  .mypblock        {font-size: 0.8em;}
  .largepicture    {width: 100%;}
  .flex-container   {flex-direction: column;}
}                                      

/* css in book.html */

.res-book-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 50%;
}

@media only screen and (max-width: 480px) {
  .res-book-img {
    width: 95%;
  }
}

/* css in teaching.html */

.res-teaching-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .res-teaching-img {
    width: 80%;
  }
}

/* css in chapters.html */

.chapter-container {
  text-align: center;
}

.roadmap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: rgba(251, 250, 255, 1);
  width: 100%;
  height: auto;
}

/* css in problems.html and code.html */

.ex-bookh3 {
  font-size: 24px;
  text-align: center;
}

.ex-container {
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.icon img {
  max-width: 50%;
  height: auto;
}

.description {
  text-align: left;
  font-size: 16px;
  margin: 0 auto;
  max-width: 90%;
  box-sizing: border-box;
}

@media (max-width: 480px) {
  .ex-bookh3 {
      font-size: 16px;
  }
  .ex-container {
      padding: 5px;
      margin: 0 auto;
  }
  .icon {
      margin-bottom: 10px;
  }
  .description {
      font-size: 10px;
      margin: 0 auto;
      max-width: 95%;
  }
}

/* css in piglette.html */

.slider-container {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slider-piglette {
  min-width: 100%;
  box-sizing: border-box;
}

.slider-image {
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.slider-button {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  font-size: 24px;
  transition: background-color 0.5s ease;
}

.slider-button.left {
  left: 10px;
  transform: translateY(-50%);
}

.slider-button.right {
  right: 10px;
  transform: translateY(-50%);
}

.slider-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 480px) {
  .slider-button {
    font-size: 10px;
    padding: 4px;
  }
}
