	<h3>Course schedule</h3>

      <div class="info_box" style="font-size:12px;">

	<table style="border-spacing:20px;">
	<tr>
	  <td style="padding: 5px;"><h4>Monday</h4></td>
	  <td style="width:10px;"/>
	  <td><h4>Tuesday</h4></td>
	  <td style="width:15px;"/>
	  <td><h4>Wednesday</h4></td>
	  <td><h4>Thursday</h4></td>
	</tr>
	<tr>
	  <td style="padding: 5px;">
	    <p><img width="32px" src="images/online-in-person.jpg">  (10 am)<br>
	    <strong>The economy of the cell</strong> <br>
	    Meike Wortel<br>&nbsp;</p>
	  </td>
	  <td/>
	  <td>
	    <p><img width="32px" src="images/online-in-person.jpg"> (10 am) <br>
	    <strong>Principles of cell growth</strong> <br>
	    Hollie J. Hindley<br>&nbsp;</p>
	  </td>
	  <td/>
	  <td>
	    <p> <img width="32px" src="images/online-in-person.jpg"> (10 am)  <br>
	    <strong>Economy of organ <br>form and function</strong><br>
	    Frédérique Noël  <!--/ Cyril Karamaoun/--></p>
	  </td>
	</tr>

	<tr>
	  <td style="padding: 5px;">
	    <p><img width="32px" src="images/online-in-person.jpg"> (11 am) <br>
	    <strong>An inventory of<br> cell components</strong> <br>
	    Diana Széliová / Pranas Grigaitis</p>
	  </td>
	  <td/>
	  
	  <td>
	    <p><img width="32px" src="images/online.jpg"> (11 am)  <br>
	    <strong>Growth balance analysis</strong> <br>
	    Hugo Dourado<br>&nbsp;</p>
	  </td>
	  <td/>
	  <td>
	     <p><img width="32px" src="images/online-in-person.jpg"> (11 am)  <br>
	     <strong>Diversity of metabolic <br>flux distributions </strong> <br>
	    Roberto Mulet <!--Andrea de Martino / Daniele de Martino (remote)/--></p>
	  </td>
	  <td></td>
	</tr>
	
	<tr>
	  <td style="padding: 5px;">
	    <p>
	      <font color="#a79472">(noon)<br> <strong>Lunch break</strong> and get-together</font>
	      </p>
	  </td>
	  <td/>
	  <td>
	    <p>
	      <font color="#a79472">(noon)<br> <strong>Lunch break</strong> and group photo</font>
	      </p>
	  </td>
	  <td/>
	  <td>
	    <p><font color="#a79472">(noon)<br> <strong>Lunch break</strong></font></p>
	  </td>
	  <td></td>
	</tr>

	<tr>
	  <td style="padding: 5px;">
	    <p><img width="32px" src="images/online-in-person.jpg"> (1 pm)  <br>
	    <strong>Optimality in biology</strong> <br>
	    Markus K&ouml;bis</p>
	  </td>
	  <td/>
	  <td>
	    <p><font color="#a79472">  (1 pm) <br>
		<strong>Free discussion/group work</strong><br></font> <br> &nbsp; <br>
	      </p>
	  </td>
	  <td/>
	  <td>
	    <font color="#a79472"><p>  (1 pm) <br>
		<strong>Book - plans for the future</strong> <br> Plenary discussion</font><br>
	    &nbsp;
	    </p>
	  </td>
	  <td></td>
	</tr>
	
	<tr>
	  <td style="padding: 5px;">
	     <p><img width="32px" src="images/online.jpg"> (2 pm) <br>
	    <strong>Cell metabolism</strong><br>
	    Orkun Soyer<br>&nbsp;</p>
	  </td>
	  <td/>
	  <td>
	    <p><img width="32px" src="images/online.jpg"> (2 pm) <br>
	    <strong>Scaling laws <br>in cell evolution</strong> <br>
	    Sergio Muñoz-G&oacute;mez</p>
	  </td>
	  <td/>
	  <td>
	    <p><img width="32px" src="images/online.jpg"> (2 pm) <br>
	    <strong>The origin of life</strong><br>
	    Sanjay Jain <br> &nbsp;</p>
	  </td>
	  <td></td>
	</tr>

	<tr>
	  <td style="padding: 5px;"><p>
	      <font color="#a79472">Coffee break (3 pm)</font><br>
	      </p>
	  </td>
	  <td/>
	  <td>
	    <p>
	      <font color="#a79472">Coffee break (3 pm)</font><br>
	      </p>
	  </td>
	  <td/>
	  <td>
	    <p>
	      <font color="#a79472">Coffee break (3 pm)</font><br>
	      </p>
	    </td>
	  <td>
	  </td>
	  <td></td>
	</tr>

	<tr>
	  <td style="padding: 5px;">
	    <p><img width="32px" src="images/online-in-person.jpg"> (3:30 pm) <br>
	    <strong>Optimization of<br> metabolic fluxes</strong> <br>
	    Steffen Waldherr</p>
	  </td>
	  <td/>
	  <td>
	     <p><img width="32px" src="images/online-in-person.jpg">  (3:30 pm) <br>
	     <strong>Cells in the face<br> of uncertainty</strong> <br>
	     David Lacoste / Olivier Rivoire</p>
	  </td>
	  <td/>
	  <td>
	    <p><img width="32px" src="images/online.jpg"> (3:30 pm)  <br>
	    <strong>The return on investment<br> in cells</strong> <br>
	    H.-S. Song / D. Ramkrishna</p>
	  </td>
	  <td/>
	</tr>

	<tr>
	  <td style="padding: 5px;">
	    <p>
	    <font color="#a79472"><strong>Guided tour of the LPI </strong> (4:30 pm)<br>Virginie Chomier</font></p>
	  </td>
	  <td/>
	  <td>
	   <p><img width="32px" src="images/online.jpg"> (4:30 pm)<br>
	    <strong>Night Science</strong> Martin Lercher</p>
	  </td>
	  <td/>
	  <td>
	    <p>
	      <img width="32px" src="images/online.jpg"> (4:30 pm) <br>	      
	      <strong>Course feedback</strong> 
	  </td>
	  <td style="padding: 5px;"/>
	</tr>
	<tr>
	  <td/><td/><td/><td/>
	  <td>
	    <p>
	      	    <font color="#a79472"><strong>
		      Get-together</strong> (7:30 pm)</font></p>
	  </td>
	  
	</tr>

      </table>

<br>

<p>
  <img width="32px" src="images/online-in-person.jpg">
	&nbsp;Hybrid lecture&nbsp;&nbsp;&nbsp;&nbsp;  <img width="32px" src="images/online.jpg">
	&nbsp;Remote lecture&nbsp;&nbsp;&nbsp;&nbsp; Hours are Vienna time (CEST)
      </p>

      </div>
	    
      <h3 style="margin-top:10px">Teachers and authors present in Vienna</h3>

              <table width="100%"  style="background-color:#ffffff">
      <tr><td style="padding:15px">

      <ol>
        <li><a href="http://genome.jouy.inra.fr/~agoelzer/">Anne Goelzer</a>, INRAE</li>
        <!--                <li><a href="http://cyrilkaramaoun.net/">Cyril Karamaoun</a>, Sorbonne Université</li>/-->
	<li><a href="https://www.pct.espci.fr/~david/">David Lacoste</a>, ESPCI Vienna</li>
        <li><a href="https://chemnet.univie.ac.at/team/diana-szeliova/">Diana Széliová</a>, Universit&auml;t Wien</li>
	<li><a href="https://frederiquenoel.github.io/">Frédérique Noël</a>, Sorbonne Université</li>
        <!--<li><a href="https://www.researchgate.net/profile/Mattia-Corigliano">Mattia Corigliano</a>, IFOM</li>/-->
        <li><a href="https://team.inria.fr/microcosme/fr/hidde-de-jong/">Hidde de Jong</a>, INRIA</li>
        <li><a href="https://chwag.github.io/people/hollieHindley/">Hollie J. Hindley</a>,
	     University of Edinburg</li>
        <li><a href="https://www.ntnu.edu/employees/markus.kobis">Markus K&ouml;bis</a>, NTNU Trondheim</li>
        <li><a href="https://www.uva.nl/en/profile/w/o/m.t.wortel/m.t.wortel.html?cb">Meike Wortel</a>, Universiteit van Amsterdam</li>
        <li><a href="http://statbio.net/">Olivier Rivoire</a>, ESPCI Vienna</li>
        <li><a href="https://research.vu.nl/en/persons/pranas-grigaitis">Pranas Grigaitis</a>, Vrije Universiteit Amsterdam</li>
	<li><a href="https://www.researchgate.net/profile/Roberto-Mulet">Roberto Mulet</a>, Universidad de La Habana</li>
        <li><a href="https://mosys.univie.ac.at/team/steffen-waldherr/">Steffen Waldherr</a>, Universit&auml;t Wien</li>
        <li><a href="http://genome.jouy.inra.fr/~wliebermeis/index_en.html">Wolfram Liebermeister</a>, INRAE</li>
      </ol>
            </td></tr>
	</table>


      <h3>Teachers giving lectures online</h3>

      <table width="100%"  style="background-color:#ffffff">
      <tr><td style="padding:15px">
      <ol>
        <!-- <li><a href="https://ademartino.github.io/">Andrea De Martino</a>,  Politecnico di Torino</li>/-->
<!--        <li><a href="https://www.research.ed.ac.uk/en/persons/andrea-weisse">Andrea Weiße</a>,  University of Edinburgh</li>/-->
        <li><a href="https://engineering.purdue.edu/ChE/people/ptProfile?resource_id=11806">Doraiswami Ramkrishna</a>, Purdue University</li>
<!--        <li><a href="https://www.weizmann.ac.il/plants/Milo/group-members">Elad Noor</a>, Weizmann Institute of Science</li>/-->
	<li><a href="https://www.cs.hhu.de/en/lehrstuehle-und-arbeitsgruppen/computational-cell-biology/unser-team/team/team-details?tt_address%5Bfunktion%5D=31313&tt_address%5Bperson%5D=11675&cHash=739e245a76de3702c70fdc59d09b73c2">Hugo Dourado</a>, Heinrich-Heine Universit&auml;t D&uuml;sseldorf</li>
        <li><a href="https://bse.unl.edu/faculty/hyun-seob-song/">Hyun-Seob Song</a>, University of Nebraska - Lincoln</li>
        <li><a href="https://www.cs.hhu.de/en/lehrstuehle-und-arbeitsgruppen/computational-cell-biology/unser-team/team/team-details?tt_address%5Bfunktion%5D=13553&tt_address%5Bperson%5D=11668&cHash=2f1ec5bdb50226753c070eb39be9a773">Martin Lercher</a>, HHU D&uuml;sseldorf</li>	
	<li><a href="http://people.du.ac.in/~jain/">Sanjay Jain</a>, University of Delhi</li>
        <li><a href="https://www.bio.purdue.edu/People/profile/samunozg.html">Sergio Muñoz-G&oacute;mez</a>, Purdue University</li>
        <!-- <li><a href="https://www.ikerbasque.net/en/daniele-de-martino">Daniele de Martino</a>, Biofisika Institute</li>/-->
        <!-- <li><a href="https://www.cs.hhu.de/lehrstuehle-und-arbeitsgruppen/computational-cell-biology/unser-team/team.html">Martin Lercher</a>, Heinrich-Heine-Universit&auml;t D&uuml;sseldorf</li>/-->
         <li><a href="https://warwick.ac.uk/fac/sci/lifesci/people/osoyer/">Orkun Soyer</a>, Warwick University</li>
      </ol>
      </td></tr>
	</table>

